In [132]:
!pip3 install pyperclip

Collecting pyperclip
  Downloading pyperclip-1.8.0.tar.gz (16 kB)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.0-py3-none-any.whl size=8691 sha256=b81395f6c53abcd74da57c26dd20aeeaf3d5486dd2bfc15b5b7b09172bc5d6df
  Stored in directory: /Users/leeminho/Library/Caches/pip/wheels/26/30/fe/92e2d4b1301ba74c07ea09c9e4c08f5bf12bae9c30319d74c5
Successfully built pyperclip
Installing collected packages: pyperclip
Successfully installed pyperclip-1.8.0

In [305]:
import re

In [146]:
import pandas as pd
import numpy as np

import requests # urllib 말고 requests 써주세요 (urllib은 구식입니다!)
from bs4 import BeautifulSoup as bs
import lxml
from selenium import webdriver # 자바스크립트로 전송 되는 데이터는 url - html에 안붙어있습니다.. 페이지를 열어줘야 데이터가 와요!
import time
import requests
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains


from collections import OrderedDict
from itertools import repeat
import pyperclip

In [147]:
import os
os.listdir('/Users/leeminho/Downloads')

['ITC Avant Garde Gothic LT Demi Regular.zip',
 '.Rhistory',
 '.DS_Store',
 'chromedriver_mac64.zip',
 '.localized',
 '.vscode 4',
 '.vscode 3',
 '.vscode 2',
 '.vscode 5',
 'BetterTouchTool.zip',
 '.vscode.zip',
 'Keka-1.1.26.dmg',
 '.vscode 10',
 'background.jpeg',
 '.vscode 11',
 'RStudio-1.2.5033.dmg',
 'vscode.zip',
 '.RData',
 '.ipynb_checkpoints',
 'chromedriver',
 '.vscode 9',
 '.vscode 7',
 '.vscode',
 '.vscode 6',
 '.vscode 8',
 'BetterTouchTool.app',
 'TT_comment.csv']

In [472]:
path = '/Users/leeminho/Downloads/chromedriver' # 크롬드라이브 경로 지정  ## 맥과 리눅스는 exe.를 붙이지 않습니다.x
driver = webdriver.Chrome(path)
driver.implicitly_wait(3) #혹은 time.sleep(3)

In [473]:
driver.get('https://cafe.naver.com/suhui?iframe_url=/ArticleList.nhn%3Fsearch.clubid=10197921%26search.menuid=3853%26search.boardtype=L')
driver.implicitly_wait(3)

In [ ]:
driver.switch_to.frame('cafe_main')

In [ ]:
def get_url_list(link, start, end):
    url_list = []
    for i in range(start, end):
    if i == start:
        driver.get(link)
        driver.implicitly_wait(3)
        driver.switch_to.frame('cafe_main')
        soup = bs(driver.page_source, 'html.parser')
        for link in soup.find_all('a'):
            if 'href' in link.attrs:
                if 'ArticleRead' in link.attrs['href'].split('\n')[0]:
                    if 'specialmenutype' in link.attrs['href'].split('\n')[0] or 'commentFocus' in link.attrs['href'].split('\n')[0]:
                        continue
                    else:
                        url_list.append(link.attrs['href'].split('\n')[0])
    else:
        driver.get(link)
        driver.implicitly_wait(3)
        driver.switch_to.frame('cafe_main')
        soup = bs(driver.page_source, 'html.parser')
        for link in soup.find_all('a'):
            if 'href' in link.attrs:
                if 'ArticleRead' in link.attrs['href'].split('\n')[0]:
                    if 'specialmenutype' in link.attrs['href'].split('\n')[0] or 'commentFocus' in link.attrs['href'].split('\n')[0]:
                        continue
                    else:
                        url_list.append(link.attrs['href'].split('\n')[0])
    return url_list

In [ ]:
link = 'https://cafe.naver.com/suhui?iframe_url=/ArticleList.nhn%3Fsearch.clubid=10197921%26search.menuid=3853%26search.boardtype=L'
get_url_list(link, 1, 71)

In [415]:
len(url_list)

1050

In [421]:
url_list = pd.DataFrame(url_list)
url_list.to_csv('수만휘_url_list.csv')

In [423]:
url_list = pd.read_csv('수만휘_url_list.csv')
url_list

      Unnamed: 0                                                  0
0              0  /ArticleRead.nhn?clubid=10197921&page=1&menuid...
1              1  /ArticleRead.nhn?clubid=10197921&page=1&menuid...
2              2  /ArticleRead.nhn?clubid=10197921&page=1&menuid...
3              3  /ArticleRead.nhn?clubid=10197921&page=1&menuid...
4              4  /ArticleRead.nhn?clubid=10197921&page=1&menuid...
...          ...                                                ...
1045        1045  /ArticleRead.nhn?clubid=10197921&page=70&menui...
1046        1046  /ArticleRead.nhn?clubid=10197921&page=70&menui...
1047        1047  /ArticleRead.nhn?clubid=10197921&page=70&menui...
1048        1048  /ArticleRead.nhn?clubid=10197921&page=70&menui...
1049        1049  /ArticleRead.nhn?clubid=10197921&page=70&menui...

[1050 rows x 2 columns]

In [427]:
url_list = url_list['0'].to_list()
len(url_list)

1050

In [ ]:
def crawling(url_list):
    df = pd.DataFrame()
    for i in range(len(url_list)):
        driver.implicitly_wait(10)
        driver.get('https://cafe.naver.com' + url_list[i])
        time.sleep(2)
        driver.switch_to.frame('cafe_main')
        dict = {}
        
        #날짜 크롤링
        date = bs(driver.page_source, 'html.parser').find_all('span', {'class':'date'})
        driver.implicitly_wait(10)
        #페이지가 아직 안넘어갔을때
        if len(date) == 0:
            time.sleep(3)
            date = bs(driver.page_source, 'html.parser').find_all('span', {'class':'date'})
        date = date[0].text[:10]
        dict['date'] = date
        
        #제목 크롤링
        title = bs(driver.page_source, 'html.parser').find_all('h3', {'class':'title_text'})
        driver.implicitly_wait(10)
        title_text = re.sub('[^ㄱ-ㅣ가-힣a-zA-Z0-9]',' ',title[0].text).strip()
        dict['word'] = [title_text]
        
        #게시물 내용, 댓글 크롤링
        content = bs(driver.page_source, 'html.parser').find_all('div', {'class':'ArticleContentBox'})
        list = content[0].find_all('p')[2:]
        new_list = []
        for j in range(len(list)):
            text = re.sub('[^ㄱ-ㅣ가-힣a-zA-Z0-9]',' ',list[j].text).strip()
            if text != '':
                new_list.append(text)
        dict['word'] += new_list
        one_df = pd.DataFrame(dict)
        df = pd.concat([df, one_df])
        
        #crawling 도중 끊겼을 때 방지
        if i % 100 == 0:
            df.to_csv('수만휘crawling' + str(i) + '.csv')
        print(i, '번째 완료')
        
        return df

In [ ]:
crawling(url_list)

In [486]:
#함수만들기전
df = pd.DataFrame()
for i in range(701, 728):
    driver.implicitly_wait(10)
    driver.get('https://cafe.naver.com' + url_list[i])
    time.sleep(2)
    driver.switch_to.frame('cafe_main')
    dict = {}
    
    date = bs(driver.page_source, 'html.parser').find_all('span', {'class':'date'})
    driver.implicitly_wait(10)
    if len(date) == 0:
        time.sleep(3)
        date = bs(driver.page_source, 'html.parser').find_all('span', {'class':'date'})
    print(len(date))
    date = date[0].text[:10]
    dict['date'] = date
    
    title = bs(driver.page_source, 'html.parser').find_all('h3', {'class':'title_text'})
    driver.implicitly_wait(10)
    title_text = re.sub('[^ㄱ-ㅣ가-힣a-zA-Z0-9]',' ',title[0].text).strip()
    dict['word'] = [title_text]
    
    content = bs(driver.page_source, 'html.parser').find_all('div', {'class':'ArticleContentBox'})
    driver.implicitly_wait(10)
    list = content[0].find_all('p')[2:]
    new_list = []
    for j in range(len(list)):
        text = re.sub('[^ㄱ-ㅣ가-힣a-zA-Z0-9]',' ',list[j].text).strip()
        if text != '':
            new_list.append(text)
    dict['word'] += new_list
    one_df = pd.DataFrame(dict)
    df = pd.concat([df, one_df])
    
    if i % 100 == 0:
        df.to_csv('수만휘crawling' + str(i) + '.csv')
    print(i, '번째 완료')
df.head()

1
701 번째 완료
1
702 번째 완료
1
703 번째 완료
1
704 번째 완료
1
705 번째 완료
1
706 번째 완료
1
707 번째 완료
1
708 번째 완료
1
709 번째 완료
1
710 번째 완료
1
711 번째 완료
1
712 번째 완료
1
713 번째 완료
1
714 번째 완료
1
715 번째 완료
1
716 번째 완료
1
717 번째 완료
1
718 번째 완료
1
719 번째 완료
1
720 번째 완료
1
721 번째 완료
1
722 번째 완료
1
723 번째 완료
1
724 번째 완료
1
725 번째 완료
1
726 번째 완료
1
727 번째 완료

         date                                               word
0  2019.10.16                           조언좀요ㅠㅠ    과탐 현강 최수준  한종철
1  2019.10.16  1  음  유전은 시간 오래쓰면서 머리굴리는걸 꾸준히 연습해서 속도를 올려야해요  ...
0  2019.10.16                                            김승리쌤 현강
1  2019.10.16  승리쌤 현강 수업 결석했는데 보강 못가면 해당 주차 교재 못받나요   보강을 못 갈...
0  2019.10.14                     시대인재에서 작년에 의대 mmi특강 들었던 분 계신가용

In [487]:
df.tail()

         date                                        word
4  2019.09.24                                   삭제된 댓글입니다
5  2019.09.24                   감사합니다  포기하고 있었는데 물어 봐야겠네요
6  2019.09.24              혹시 전에 했던 중경수업도 2020 모의논술로 하셨나요
7  2019.09.24       수업은 1회 진행이 되었고요  중은 20년 모의논술로 진행 되었어요
0  2019.09.23  고3 수능대비  수수배학원 자체 제작 수학 가형  파이널 모의고사 발행 안내

In [579]:
#저장한 csv 파일 합쳐서 불러오기
df = pd.DataFrame()
for i in range(4):
    one_df = pd.read_csv('수만휘crawling(' + str(i+1) + ').csv')
    df = pd.concat([df, one_df])
df.head()

   Unnamed: 0        date                                               word
0           0  2020.06.01                                                학원가
1           1  2020.06.01              재수생이라 수강료가 많이 부담되서 그런데  수강료 괜찮은곳 아시는분
2           2  2020.06.01  가슴아픈 사연이지만   같은 모양의 가방이라도 10만원 짜리가 있고  5만원 짜리도...
3           3  2020.06.01                                          쪽지보내드렸습니다
4           0  2020.05.31                                               강안교육

In [580]:
df.tail()

,Unnamed: 0,date,word
1835,10,2019.03.30,킬캠은 왜여
1836,11,2019.03.30,미르임현강에서만 진행하는 킬캠 6 7회정도 추가로 더 해요
1837,0,2019.03.29,대치 시대 질문
1838,1,2019.03.29,아마 5월 초 쯤부터 현강을 다니려고 하는데요 조은정 차영진t 수업을 들으려고 ...
1839,2,2019.03.29,분당도 수업 듣는 사람 꽤 많을걸요

In [581]:
del df['Unnamed: 0']

In [582]:
df

            date                                               word
0     2020.06.01                                                학원가
1     2020.06.01              재수생이라 수강료가 많이 부담되서 그런데  수강료 괜찮은곳 아시는분
2     2020.06.01  가슴아픈 사연이지만   같은 모양의 가방이라도 10만원 짜리가 있고  5만원 짜리도...
3     2020.06.01                                          쪽지보내드렸습니다
4     2020.05.31                                               강안교육
...          ...                                                ...
1835  2019.03.30                                             킬캠은 왜여
1836  2019.03.30                   미르임현강에서만 진행하는 킬캠 6 7회정도 추가로 더 해요
1837  2019.03.29                                           대치 시대 질문
1838  2019.03.29  아마 5월 초 쯤부터 현강을 다니려고 하는데요  조은정  차영진t 수업을 들으려고 ...
1839  2019.03.29                                분당도 수업 듣는 사람 꽤 많을걸요

[7010 rows x 2 columns]

In [583]:
df.index = np.arange(0, len(df))
df

            date                                               word
0     2020.06.01                                                학원가
1     2020.06.01              재수생이라 수강료가 많이 부담되서 그런데  수강료 괜찮은곳 아시는분
2     2020.06.01  가슴아픈 사연이지만   같은 모양의 가방이라도 10만원 짜리가 있고  5만원 짜리도...
3     2020.06.01                                          쪽지보내드렸습니다
4     2020.05.31                                               강안교육
...          ...                                                ...
7005  2019.03.30                                             킬캠은 왜여
7006  2019.03.30                   미르임현강에서만 진행하는 킬캠 6 7회정도 추가로 더 해요
7007  2019.03.29                                           대치 시대 질문
7008  2019.03.29  아마 5월 초 쯤부터 현강을 다니려고 하는데요  조은정  차영진t 수업을 들으려고 ...
7009  2019.03.29                                분당도 수업 듣는 사람 꽤 많을걸요

[7010 rows x 2 columns]

In [584]:
df = df.iloc[:6980,:]

In [585]:
df = df.iloc[4:, :]
df.index = np.arange(0, len(df))
df

            date                                               word
0     2020.05.31                                               강안교육
1     2020.05.31            강안교육의 장단점이랑 추천 비추랑 가격좀 알려주실분 ㅠㅠ 기프티콘드려요
2     2020.05.31                                              쪽지주세요
3     2020.05.31                                            쪽지보냈습니다
4     2020.05.31  공부분위기는 진짜빡센데 화장실이 너무구려요 밥도 적게줘가지고 개인적으론 다시돌아가고...
...          ...                                                ...
6971  2019.04.02  국어는 어떤 선생님    수능 준비하기에 좋을까요   그리고 수학은 제가 나형 공부...
6972  2019.04.01                                  가형 80점정도에  적합한 현강
6973  2019.04.01         수학가형 80점정도 나와요대치동 현강중  적합한  커리나 쌤 추천부탁드립니다
6974  2019.04.01                                            현우진T 현강
6975  2019.04.01  현우진쌤 킬캠 현강 들으려고 하는데 대기 언제쯤 걸면 좋을까요   그리고 우진쌤 현...

[6976 rows x 2 columns]

In [586]:
df.to_csv('수만휘 크롤링(201904-202005).csv')

In [588]:
for i in range(len(df)):
    df['date'][i] = df['date'][i][:7]
df

         date                                               word
0     2020.05                                               강안교육
1     2020.05            강안교육의 장단점이랑 추천 비추랑 가격좀 알려주실분 ㅠㅠ 기프티콘드려요
2     2020.05                                              쪽지주세요
3     2020.05                                            쪽지보냈습니다
4     2020.05  공부분위기는 진짜빡센데 화장실이 너무구려요 밥도 적게줘가지고 개인적으론 다시돌아가고...
...       ...                                                ...
6971  2019.04  국어는 어떤 선생님    수능 준비하기에 좋을까요   그리고 수학은 제가 나형 공부...
6972  2019.04                                  가형 80점정도에  적합한 현강
6973  2019.04         수학가형 80점정도 나와요대치동 현강중  적합한  커리나 쌤 추천부탁드립니다
6974  2019.04                                            현우진T 현강
6975  2019.04  현우진쌤 킬캠 현강 들으려고 하는데 대기 언제쯤 걸면 좋을까요   그리고 우진쌤 현...

[6976 rows x 2 columns]

In [506]:
from konlpy.tag import Okt
okt = Okt()

In [523]:
#명사 빈도수 사전
dict = {}
for i in range(len(words)):
    nouns = okt.nouns(words[i])
    for j in range(len(nouns)):
        if nouns[j] in dict:
            dict[nouns[j]] += 1
        else:
            dict[nouns[j]] = 1
dict

{'공부': 174,
 '분위기': 66,
 '진짜': 167,
 '빡': 2,
 '화장실': 14,
 '구려': 2,
 '밥': 16,
 '개인': 79,
 '다시': 55,
 '저': 551,
 '고': 222,
 '현역': 33,
 '강안': 19,
 '윈터': 41,
 '스쿨': 19,
 '대화': 7,
 '친목': 6,
 '자체': 30,
 '본인': 55,
 '습관': 16,
 '추천': 410,
 '사실': 47,
 '수준': 93,
 '전국구': 1,
 '학생': 116,
 '대상': 12,
 '실제': 13,
 '시간': 219,
 '다른': 142,
 '메이저': 3,
 '강사': 83,
 '인강': 399,
 '친구': 74,
 '전체': 21,
 '학원': 614,
 '전반': 16,
 '시스템': 21,
 '쌤': 1180,
 '좀': 266,
 '경우': 72,
 '선배': 22,
 '크게': 16,
 '도움': 126,
 '시대': 227,
 '수반': 10,
 '합격': 40,
 '등록': 84,
 '뻔': 3,
 '김': 264,
 '승리': 265,
 '강': 1255,
 '메리트': 45,
 '작년': 128,
 '달리': 6,
 '올해': 85,
 '차이': 86,
 '것': 351,
 '나중': 26,
 '가면': 46,
 '현장': 82,
 '자료': 289,
 '반수': 9,
 '질문': 198,
 '제': 298,
 '학기': 11,
 '학교': 64,
 '주말': 34,
 '선택': 59,
 '갈수': 3,
 '보통': 57,
 '일주일': 19,
 '내내': 9,
 '통학': 7,
 '다가': 6,
 '널널': 3,
 '정보': 71,
 '아시': 66,
 '분': 377,
 '정예': 15,
 '집중': 35,
 '케어': 5,
 '재수': 136,
 '점': 136,
 '절박': 2,
 '자': 13,
 '스토리': 4,
 '해설': 40,
 '통합': 2,
 '사회': 10,
 '내신': 63,
 '한국사': 6,
 '가지': 25,
 '공유': 16,
 '이번': 177,
 '남학생': 8,
 '중': 136,
 '때': 399,
 '과학': 25,
 '지금': 218,
 '이해': 38,
 '상태': 18,
 '상담': 27,
 '인': 13,
 '베스트': 2,
 '중등': 1,
 '메': 30,
 '가스': 1,
 '터티': 1,
 '한번': 81,
 '자신': 23,
 '시작': 77,
 '통과': 5,
 '확': 9,
 '고등': 3,
 '셔': 2,
 '해': 90,
 '서지': 1,
 '부터': 36,
 '부분': 86,
 '잠시': 5,
 '젠': 6,
 '범위': 8,
 '맘': 27,
 '리트': 5,
 '반': 206,
 '개강': 92,
 '강가': 9,
 '뚝배기': 2,
 '듯': 47,
 '포스터': 2,
 '멋': 1,
 '준': 13,
 '교재': 152,
 '디자인': 1,
 '가야': 29,
 '요': 359,
 '진자': 2,
 '걱정': 57,
 '말': 99,
 '고민': 138,
 '환불': 33,
 '궁금': 7,
 '보충': 8,
 '합': 17,
 '더': 192,
 '오늘': 73,
 '차': 16,
 '개학': 13,
 '날': 38,
 '명대': 2,
 '명': 88,
 '게': 80,
 '대치동': 225,
 '마': 4,
 '아이': 48,
 '스스로': 7,
 '위해': 12,
 '위생': 1,
 '신경': 14,
 '마스크': 6,
 '꼭': 60,
 '끼': 3,
 '거': 248,
 '판단': 12,
 '저런': 2,
 '핑계': 2,
 '안해': 19,
 '구실': 1,
 '건': 38,
 '염려': 1,
 '건강': 1,
 '위': 32,
 '그': 132,
 '모든': 34,
 '차라리': 10,
 '휴학': 3,
 '타인': 4,
 '접촉': 1,
 '완전': 29,
 '차단': 1,
 '방법': 52,
 '이': 92,
 '입시': 20,
 '전쟁': 1,
 '터': 6,
 '패잔': 1,
 '병': 3,
 '가능성': 9,
 '매우': 12,
 '레벨': 5,
 '대학': 44,
 '진입': 1,
 '무엇': 15,
 '준비': 44,
 '수': 422,
 '양': 46,
 '휴강': 62,
 '언제': 69,
 '홍': 49,
 '은영': 15,
 '기간': 24,
 '재개': 10,
 '하나요': 50,
 '중간': 45,
 '합류': 12,
 '진도': 55,
 '단원': 12,
 '정시': 24,
 '특강': 82,
 '지구과학': 19,
 '혼자': 36,
 '생각': 209,
 '가요': 225,
 '인재': 251,
 '남지현': 17,
 '최상': 4,
 '위반': 7,
 '슈': 6,
 '파스': 6,
 '논술': 135,
 '박희': 3,
 '종': 60,
 '로고스': 19,
 '아토즈': 12,
 '프로세스': 4,
 '메이드': 14,
 '산': 4,
 '데': 35,
 '비교': 13,
 '장단점': 7,
 '뭔가': 21,
 '인문': 14,
 '박': 8,
 '기호': 2,
 '기초': 23,
 '곳': 82,
 '정규': 69,
 '인원': 28,
 '이내': 3,
 '여서': 4,
 '선생님': 493,
 '주시': 37,
 '대면': 6,
 '삭': 17,
 '조정식': 132,
 '강생': 43,
 '결석': 10,
 '혹시': 332,
 '수업': 808,
 '출판': 1,
 '프린트': 8,
 '그거': 38,
 '필기': 14,
 '노트': 6,
 '수특': 21,
 '영어': 166,
 '변형': 6,
 '문제': 233,
 '학년': 46,
 '수능': 242,
 '기출': 99,
 '분석': 40,
 '원래': 35,
 '주차': 31,
 '과제': 76,
 '용': 68,
 '모의고사': 151,
 '신규': 13,
 '생': 121,
 '단어': 34,
 '장도': 2,
 '하나': 88,
 '안내': 19,
 '데스크': 9,
 '음': 20,
 '생도': 3,
 '그냥': 150,
 '만약': 22,
 '층애': 1,
 '조교': 90,
 '보신': 54,
 '처음': 110,
 '종합': 13,
 '강의': 344,
 '교안': 2,
 '지문': 52,
 '거기': 37,
 '복습': 41,
 '보기': 8,
 '체': 11,
 '관점': 2,
 '풀': 110,
 '사서': 7,
 '닷': 9,
 '듣기': 32,
 '주저': 1,
 '여': 22,
 '기자': 16,
 '왜': 35,
 '건가': 65,
 '보': 22,
 '느낌': 36,
 '비': 110,
 '문학': 185,
 '때문': 69,
 '내일': 32,
 '너': 9,
 '싸인': 3,
 '시국': 2,
 '거절': 1,
 '다해': 4,
 '적': 25,
 '모': 73,
 '김기철': 9,
 '조정호': 28,
 '조은정': 22,
 '이영수': 1,
 '이유': 40,
 '기타': 7,
 '분도': 6,
 '가능': 20,
 '오렌지': 10,
 '장': 14,
 '현숙': 2,
 '썜이': 1,
 '퀄': 15,
 '독해': 35,
 '팁': 6,
 '숙명여고': 1,
 '국어학': 17,
 '신어': 1,
 '전화': 62,
 '중도': 3,
 '스터디': 23,
 '메이트': 1,
 '비용': 13,
 '부담': 12,
 '이수연': 2,
 '아마': 43,
 '섬': 18,
 '초반': 13,
 '노말': 1,
 '습': 26,
 '이름': 33,
 '말씀': 49,
 '이세': 6,
 '행방불명': 1,
 '네네': 15,
 '단': 73,
 '강좌': 21,
 '쫙': 1,
 '관리': 80,
 '독서실': 31,
 '내': 34,
 '그룹': 7,
 '진행': 59,
 '먄': 2,
 '시간제': 4,
 '이명학': 36,
 '대비': 31,
 '겸': 6,
 '둘': 30,
 '누가': 29,
 '구성': 8,
 '코로나': 16,
 '때매': 2,
 '갑자기': 5,
 '패스': 22,
 '대성': 22,
 '두': 36,
 '모두': 37,
 '커리': 125,
 '타고': 12,
 '를': 21,
 '구매': 47,
 '기존': 8,
 '풀이': 65,
 '및': 6,
 '설명': 50,
 '등등': 13,
 '통일': 1,
 '만': 22,
 '산다': 1,
 '줄': 135,
 '포인트': 6,
 '등': 59,
 '책': 52,
 '서술': 1,
 '판매': 10,
 '삽자루': 7,
 '수학학원': 11,
 '현우진': 151,
 '대부분': 27,
 '계획': 16,
 '네': 92,
 '강하': 8,
 '대치': 271,
 '자리': 160,
 '바로': 43,
 '대기': 219,
 '전형': 6,
 '넵': 43,
 '반전': 1,
 '안': 133,
 '걸': 72,
 '빠졋어': 1,
 '전': 232,
 '카페': 26,
 '사람': 112,
 '가기': 10,
 '토요일': 54,
 '저녁': 49,
 '가끔': 15,
 '스카': 3,
 '밤새': 2,
 '좌': 5,
 '잠깐': 10,
 '수도': 18,
 '하루': 30,
 '이틀': 2,
 '이상은': 3,
 '시험': 44,
 '금': 7,
 '토': 8,
 '이후': 30,
 '정말': 135,
 '과': 76,
 '은': 57,
 '돈버는데': 1,
 '혈안': 1,
 '가용': 9,
 '수생': 13,
 '대입': 5,
 '시생': 1,
 '예체능': 5,
 '재': 35,
 '종말': 1,
 '재종': 30,
 '어캐': 1,
 '다녓는데': 1,
 '별로': 88,
 '위기': 1,
 '쪽': 43,
 '누구': 31,
 '성적': 48,
 '종이': 4,
 '융': 1,
 '종도': 2,
 '알': 99,
 '쪽지': 143,
 '교육': 22,
 '빡세': 14,
 '정상': 35,
 '나': 38,
 '어디': 74,
 '바': 60,
 '대여': 2,
 '옴': 4,
 '수학': 264,
 '제일': 41,
 '계세': 5,
 '가쟈밍문과': 1,
 '삭제': 135,
 '댓글': 186,
 '퍼텐셜': 8,
 '답': 31,
 '박종민샘': 1,
 '김현우': 11,
 '샘': 165,
 '엣지': 25,
 '리바이': 8,
 '벌': 7,
 '물리': 32,
 '이건': 16,
 '독학': 30,
 '세계': 2,
 '지리': 10,
 '이기상': 21,
 '기숙사': 3,
 '외출': 6,
 '금지': 27,
 '욥': 18,
 '에스원': 1,
 '사': 23,
 '돠': 1,
 '강남': 43,
 '김정': 1,
 '학습': 10,
 '법': 34,
 '가보': 4,
 '신분': 36,
 '여기': 24,
 '인터넷': 21,
 '앗': 28,
 '일요': 4,
 '일반': 23,
 '토욜반': 3,
 '번': 150,
 '젤': 17,
 '먼저': 20,
 '영어학원': 11,
 '현재': 38,
 '선경': 1,
 '대형': 53,
 '소수': 19,
 '후자': 2,
 '의사': 1,
 '가문': 1,
 '만들기': 1,
 '얼': 1,
 '독': 21,
 '멘탈': 8,
 '탈고': 1,
 '삼이': 1,
 '병행': 22,
 '떄문입니': 1,
 '윤': 80,
 '도영': 49,
 '제발': 19,
 '숙제': 105,
 '뭐': 89,
 '방금': 15,
 '지진': 1,
 '뭐임': 1,
 '깜짝': 3,
 '심': 22,
 '서울': 19,
 '바람': 4,
 '후': 38,
 '재난': 1,
 '문자': 90,
 '금세': 1,
 '잠실': 1,
 '힐러': 13,
 '퀸': 12,
 '목동': 50,
 '최': 74,
 '어케': 4,
 '내년': 19,
 '예정': 41,
 '안정': 11,
 '강진': 1,
 '근처': 19,
 '개념': 159,
 '서바이벌': 42,
 '초': 11,
 '연락처': 4,
 '회': 16,
 '전후': 3,
 '홈페이지': 25,
 '리뉴얼': 1,
 '방': 11,
 '금전': 1,
 '이지영': 31,
 '생윤': 19,
 '예약': 102,
 '정원': 4,
 '마감': 33,
 '현': 21,
 '국어': 310,
 '타': 25,
 '주위': 5,
 '얼마나': 22,
 '광고': 7,
 '추위': 7,
 '전국': 2,
 '무슨': 17,
 '뜻': 3,
 '젠느': 1,
 '관련': 28,
 '된거': 1,
 '형': 4,
 '꽃길': 2,
 '윽시': 1,
 '곧': 4,
 '일등': 2,
 '재수생': 20,
 '기회': 2,
 '여태': 1,
 '명학쌤': 3,
 '러셀': 171,
 '퇴원': 4,
 '담임': 5,
 '신청서': 4,
 '쓰시': 5,
 '이나': 5,
 '지점': 8,
 '지방': 36,
 '아예': 19,
 '벌점': 9,
 '퇴': 1,
 '봄': 6,
 '교실': 11,
 '남녀': 1,
 '분해': 1,
 '구분': 5,
 '롱': 8,
 '지구': 8,
 '달': 45,
 '본가': 2,
 '지역': 8,
 '며칠': 7,
 '부모님': 21,
 '허락': 1,
 '차피': 4,
 '그때': 22,
 '통화': 5,
 '멘토': 7,
 '출신': 5,
 '남여': 1,
 '분리': 1,
 '방이': 3,
 '사리곰탕': 3,
 '도': 64,
 '힌실': 1,
 '숙명': 10,
 '머': 12,
 '접수': 38,
 '소린': 2,
 '널': 1,
 '첫': 14,
 '김승': 1,
 '후반': 13,
 '어후': 1,
 '수리': 28,
 '전현정': 3,
 '나가시': 4,
 '시': 39,
 '시간표': 53,
 '김동욱': 107,
 '취클': 1,
 '서요': 4,
 '심기': 11,
 '일전': 13,
 '신청': 133,
 '등교': 2,
 '오프라인': 5,
 '공지': 15,
 '온라인': 35,
 '가유': 1,
 '이투스': 30,
 '어쨌든': 3,
 '집': 56,
 '당': 2,
 '다음': 43,
 '알기': 3,
 '쯤': 21,
 '이강': 107,
 '해당': 15,
 '내용': 32,
 '김상훈': 161,
 '시가': 7,
 '처리': 15,
 '중요도': 9,
 '고전': 2,
 '게시판': 30,
 '제목': 5,
 '예': 14,
 '요일': 9,
 '듄탁해': 9,
 '부탁': 18,
 '저희': 35,
 '월': 9,
 '대신': 17,
 '수만휘': 32,
 '애초': 4,
 '아래': 9,
 '나은': 3,
 '단점': 14,
 '난독': 1,
 '는걸': 25,
 '돈': 20,
 '각자': 10,
 '넹넹': 7,
 '끼리': 4,
 '글': 139,
 '대전': 3,
 '잔뜩': 1,
 '페북': 1,
 '페이지': 2,
 '대숲': 1,
 '군용': 4,
 '의견': 18,
 '스케쥴': 5,
 '찾기': 3,
 '라면': 23,
 '절대': 9,
 '방식': 44,
 '카카오': 2,
 '딜': 2,
 '무조건': 22,
 '수강생': 35,
 '데영': 1,
 '나가요': 10,
 '스케줄': 8,
 '표': 41,
 '있으싱': 1,
 '사진': 11,
 '시간대': 14,
 '교환': 7,
 '일': 35,
 '로': 30,
 '의향': 5,
 '진송': 1,
 '문의': 49,
 '원칙': 1,
 '학사': 73,
 '가정식': 13,
 '열정': 3,
 '무공': 1,
 '계약': 10,
 '욕실': 2,
 '개별': 7,
 '공용': 4,
 '더욱이': 1,
 '나올떄': 1,
 '보증금': 6,
 '구해': 3,
 '예전': 6,
 '원우': 6,
 '예상': 7,
 '성공': 2,
 '여부': 3,
 '모름': 2,
 '현실': 4,
 '성은': 3,
 '후기': 41,
 '이민규': 41,
 '요즘': 14,
 '거의': 78,
 '보린': 6,
 '프로': 17,
 '겨울': 18,
 '파이널': 83,
 '화학': 65,
 '봉용쌤': 1,
 '어떄': 1,
 '좌석': 37,
 '꿀팁': 2,
 '전진': 1,
 '새로고침': 4,
 '종로': 13,
 '스트레스': 2,
 '편이': 23,
 '만요': 1,
 '노베': 27,
 '계속': 67,
 '사이트': 17,
 '일정': 11,
 '선생': 5,
 '오픈': 5,
 '루미': 7,
 '수강신청': 6,
 '수강': 30,
 '결재': 5,
 '재원': 3,
 '기도': 21,
 '우선': 18,
 '가세': 14,
 '빨': 7,
 '여름방학': 27,
 '계시': 12,
 '제비': 1,
 '뽑기': 1,
 '배정': 8,
 '영': 12,
 '야매': 2,
 '점수': 18,
 '얼마': 19,
 '테': 5,
 '조금': 57,
 '모의': 36,
 '만점': 18,
 '기하': 3,
 '미적': 36,
 '확통': 53,
 '상위': 27,
 '입학': 9,
 '조건': 3,
 '창무': 33,
 '유명': 4,
 '혹': 3,
 '목표': 23,
 '원': 60,
 '빡빡': 1,
 '분위': 11,
 '긴지': 2,
 '함': 20,
 '영원': 1,
 '테스트': 29,
 '주안': 1,
 '유형': 11,
 '난이도': 31,
 '정도': 195,
 '참고': 43,
 '문법': 66,
 '강러': 8,
 '피셋': 2,
 '하프': 2,
 '오카': 9,
 '적용': 22,
 '간': 30,
 '쓸개': 20,
 '아피': 1,
 '셋': 2,
 '개입': 1,
 '연습': 16,
 '신간': 1,
 '도서': 2,
 '독서': 26,
 '월례': 2,
 '고사': 3,
 '시험지': 6,
 '재종생': 1,
 '사설': 12,
 '보고': 79,
 '인근': 4,
 '남고': 1,
 '살': 18,
 '과목': 95,
 '넘사벽': 1,
 '고든': 1,
 '셤': 1,
 '실력': 35,
 '항상': 28,
 '실수': 14,
 '동생': 3,
 '땐': 9,
 '부족': 5,
 '권': 15,
 '용기': 4,
 '년도': 9,
 '사항': 10,
 '참조': 1,
 '평균': 14,
 '위주': 17,
 '중하': 2,
 '선근': 2,
 '신용': 3,
 '장선': 1,
 '거나': 12,
 '꽤': 22,
 '소리': 11,
 '역학': 1,
 '직관': 2,
 '바퀴': 1,
 '클리': 21,
 '닉': 19,
 '물': 18,
 '입니둥': 1,
 '중이': 15,
 '신전': 1,
 '그대로': 16,
 '겹': 13,
 '군데': 7,
 '스타일': 27,
 '굳이': 23,
 '보강': 29,
 '횟수': 8,
 '제한': 3,
 '스킬': 26,
 '몇몇': 6,
 '마음': 25,
 '영향': 5,
 '차선': 1,
 '기준': 26,
 '잡고': 10,
 '대안': 1,
 '낫': 6,
 '대시': 6,
 '번은': 7,
 '살짝': 5,
 '죵': 6,
 '빈칸': 9,
 '킬러': 23,
 '정복': 3,
 '철학': 1,
 '배경': 3,
 '지식': 4,
 '매칭': 1,
 '이해력': 2,
 '전문': 6,
 '브': 1,
 '밸리': 2,
 '배': 29,
 '기범': 25,
 '조언': 24,
 '물포': 1,
 '지도': 8,
 '주변': 28,
 '애': 55,
 '서리': 1,
 '캐바캐': 1,
 '나마': 1,
 '첨': 9,
 '움': 5,
 '직접': 44,
 '방문': 6,
 '보시': 19,
 '거시': 1,
 '반수생': 4,
 '최소': 5,
 '반도': 13,
 '편입': 6,
 '덜': 3,
 '긴장': 6,
 '장소': 1,
 '공해': 1,
 '홍보': 6,
 '부제': 3,
 '관': 22,
 '강의실': 24,
 '주': 93,
 '본관': 20,
 '김민정': 9,
 '감모': 2,
 '분당': 51,
 '청솔': 3,
 '민정': 5,
 '고랑': 4,
 '불': 1,
 '석권': 1,
 '한자성어': 1,
 '비분': 1,
 '학문': 3,
 '구조분': 2,
 '석지': 2,
 '비문': 7,
 '구조': 18,
 '금요일': 9,
 '목요일': 3,
 '저기': 8,
 '확인': 62,
 '유': 9,
 '금방': 14,
 '던데': 6,
 '차례': 3,
 '동욱쌤': 10,
 '부': 10,
 '이비에스': 6,
 '신관': 1,
 '아침': 42,
 '저번': 19,
 '산문': 1,
 '편': 29,
 '눈': 8,
 '뒤': 21,
 '메가스터디': 22,
 '여학생': 4,
 '이용': 29,
 '딸': 2,
 '강대': 62,
 '신식': 1,
 '세용': 5,
 '태': 1,
 '부엉이': 5,
 '대재': 1,
 '장점': 22,
 '노': 22,
 '이과': 48,
 '상훈': 37,
 '개': 84,
 '땨': 1,
 '자전거': 1,
 '도둑': 2,
 '유씨': 1,
 '록': 1,
 '았': 1,
 '소설': 11,
 '낼': 6,
 '강기원': 23,
 '결정': 39,
 '하차': 1,
 '넵넵': 3,
 '이제': 30,
 '따리': 1,
 '겨울방학': 72,
 '머리': 9,
 '하늘': 3,
 '미적분': 19,
 '김덕': 7,
 '볼': 19,
 '것좀': 1,
 '구함': 1,
 '난생': 1,
 '주예지': 3,
 '정학': 2,
 '미탐': 21,
 '명인': 26,
 '반포': 5,
 '서두': 1,
 '서초': 9,
 '삼수생': 2,
 '최대한': 12,
 '팀플': 1,
 '생활': 19,
 '면': 20,
 '팀': 7,
 '기숙': 32,
 '가가': 2,
 ...}

In [538]:
#명사빈도수 데이터프레임
nouns = pd.DataFrame(dict.items())
nouns.columns = ['word', 'counts']
nouns = nouns.sort_values(by = ['counts'], ascending = False)
nouns.index = np.arange(0, len(nouns))
nouns

     word  counts
0       강    1255
1       쌤    1180
2      수업     808
3      학원     614
4       저     551
...   ...     ...
4822   줄줄       1
4823   분야       1
4824   부디       1
4825   모레       1
4826   배포       1

[4827 rows x 2 columns]

In [617]:
#월별로 나누기
for i in range(len(np.unique(df['date'].values))):
    one_df = df[df.date == np.unique(df['date'].values)[i]]
    words = one_df['word'].values
    dict = {}
    for j in range(len(words)):
        nouns = okt.nouns(words[j])
        for k in range(len(nouns)):
            if nouns[k] in dict:
                dict[nouns[k]] += 1
            else:
                dict[nouns[k]] = 1
    nouns_df = pd.DataFrame(dict.items())
    nouns_df.columns = ['word', 'counts']
    nouns_df = nouns_df.sort_values(by = ['counts'], ascending = False)
    nouns_df.index = np.arange(0, len(nouns_df))
    print(nouns_df)
    if i <= 8:
        nouns_df.to_csv('월별 수만휘 크롤링 2019' + str(i+4) +'.csv')
    else:
        nouns_df.to_csv('월별 수만휘 크롤링 2020' + str(i-8) + '.csv')

    word  counts
0      강      67
1      쌤      40
2     수업      29
3    선생님      28
4     인강      24
..   ...     ...
547   일치       1
548   매번       1
549   제출       1
550   종이       1
551   가용       1

[552 rows x 2 columns]
    word  counts
0      강      45
1      쌤      29
2     수업      25
3     승리      22
4      요      21
..   ...     ...
641    듯       1
642   도중       1
643   출석       1
644   다차       1
645   서나       1

[646 rows x 2 columns]
    word  counts
0      강      64
1     수업      51
2      쌤      47
3     대기      27
4      분      24
..   ...     ...
853  금요일       1
854    노       1
855   강쌤       1
856   승홍       1
857  십만원       1

[858 rows x 2 columns]
    word  counts
0      강      87
1     수업      57
2      쌤      55
3     대기      46
4     학원      37
..   ...     ...
944   기준       1
945   카페       1
946  시간제       1
947   안해       1
948   낭찡       1

[949 rows x 2 columns]
    word  counts
0      강      33
1      저      23
2      쌤      21
3      분      19
4     혹시      17
..   ...     ...
556   잠시       1
557  별찡찡       1
558  수요일       1
559   렛저       1
560   마감       1

[561 rows x 2 columns]
    word  counts
0      강      46
1      쌤      30
2     수업      29
3      분      20
4     학원      19
..   ...     ...
626   널널       1
627   뒤쪽       1
628    뒤       1
629    칸       1
630   위주       1

[631 rows x 2 columns]
    word  counts
0      강      55
1      쌤      52
2     추천      25
3     인강      20
4     수업      18
..   ...     ...
566   주민       1
567  메이드       1
568   인원       1
569    듯       1
570   기간       1

[571 rows x 2 columns]
      word  counts
0        쌤     265
1        강     252
2       수업     146
3      선생님     114
4       학원     103
...    ...     ...
1776    쓰시       1
1777    가끔       1
1778    쭈욱       1
1779    양가       1
1780  금천구청       1

[1781 rows x 2 columns]
     word  counts
0       쌤     285
1       강     230
2      수업     187
3       저     154
4       때     118
...   ...     ...
2149   출근       1
2150  글쎄요       1
2151    쑥       1
2152   서시       1
2153   일기       1

[2154 rows x 2 columns]
     word  counts
0       쌤     144
1       강     135
2      수업     132
3      학원     118
4       저      94
...   ...     ...
1659   아예       1
1660  케바케       1
1661    투       1
1662   필요       1
1663    인       1

[1664 rows x 2 columns]
    word  counts
0      강      76
1      쌤      76
2     학원      34
3    선생님      34
4     수업      27
..   ...     ...
936  유튜브       1
937   선생       1
938   검색       1
939   종종       1
940   의무       1

[941 rows x 2 columns]
     word  counts
0       강      78
1      학원      73
2       쌤      63
3       저      51
4      수업      44
...   ...     ...
1161   성격       1
1162   또한       1
1163  교육청       1
1164   유형       1
1165   과제       1

[1166 rows x 2 columns]
    word  counts
0      강      55
1      쌤      43
2     수업      34
3      수      30
4     학원      27
..   ...     ...
728    유       1
729   확인       1
730   저기       1
731  목요일       1
732   어님       1

[733 rows x 2 columns]
     word  counts
0      학원      38
1       강      31
2       쌤      30
3      추천      24
4       분      23
..    ...     ...
762  행방불명       1
763    이세       1
764    노말       1
765    초반       1
766    배정       1

[767 rows x 2 columns]